# ==========================================
# DBI Environment Variables
# ==========================================

# -----------------------------
# Application
# -----------------------------

APP_ENV=development
APP_NAME=Data-Driven Brasileirao Insights
API_PORT=8000


# -----------------------------
# Supabase
# -----------------------------

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=


# -----------------------------
# Football APIs
# -----------------------------

FOOTBALL_API_KEY=
FOOTBALL_API_HOST=


# -----------------------------
# Frontend
# -----------------------------

VITE_API_URL=http://localhost:8000
